@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
  background: #fafafa;
}

body {
  @apply bg-zinc-50;
}

/* Scrollbar personalizado */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}