---
import { Image } from 'astro:assets'

interface Props {
  src: string
  alt: string
}

const { src, alt } = Astro.props
---

<div class='relative group cursor-pointer'>
  <Image
    src={src}
    alt={alt}
    width={600}
    height={400}
    class='w-full h-64 object-cover rounded-lg transition-transform duration-300 group-hover:scale-105'
  />
  <div
    class='absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center rounded-lg'
  >
    <p class='text-white text-center p-4'>{alt}</p>
  </div>
</div>
