---
import { Image } from 'astro:assets'
import { ViewTransitions } from 'astro:transitions'
import '../styles/globals.css'
import Whatsaap from '@/components/Whatsaap.astro'
import { Phone, Mail } from 'lucide-react'
import EmailForm from '@/components/EmailForm'

interface Props {
  title: string
  robots?: boolean
}

const { title, robots } = Astro.props
---

<!doctype html>
<html
  lang='es'
  class='scroll-smooth'
>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='En Novoforma, somos expertos en construcción y reformas para hogares y negocios. Ofrecemos soluciones personalizadas con más de 20 años de experiencia en proyectos de alta calidad. Contáctanos para un presupuesto gratuito.'
    />
    <meta
      name='keywords'
      content='reformas, construcción, reformas de hogar, reformas comerciales, renovación de espacios, proyectos de construcción, empresa de reformas, reformas integrales, reformas en Barcelona, presupuesto reformas, reformas oficinas, reformas locales comerciales'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/png'
      href='/logo.png'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>

    <link
      rel='canonical'
      href='https://www.novoformaserveis.es/'
    />

    <meta
      property='og:site_name'
      content='Novoforma'
    />
    <meta
      property='og:title'
      content='Construcción y Reformas en Barcelona | Novoforma'
    />
    <meta
      property='og:description'
      content='Novoforma ofrece servicios de construcción y reformas en Barcelona, garantizando calidad y satisfacción en cada proyecto.'
    />
    <meta
      property='og:url'
      content='https://www.novoformaserveis.es/'
    />
    <meta
      property='og:image'
      content='https://www.novoformaserveis.es/social-img.png'
    />
    <meta
      property='og:image:alt'
      content='Imagen de Novoforma'
    />
    <meta
      property='og:image:secure_url'
      content='https://www.novoformaserveis.es/social-img.png'
    />
    <meta
      property='og:image:type'
      content='image/png'
    />
    <meta
      property='og:image:width'
      content='1200'
    />
    <meta
      property='og:image:height'
      content='630'
    />
    <meta
      property='og:type'
      content='website'
    />
    <meta
      property='og:locale'
      content='es_ES'
    />

    <meta
      name='twitter:card'
      content='summary_large_image'
    />
    <meta
      name='twitter:site'
      content='@Novoforma'
    />
    <meta
      name='twitter:creator'
      content='@Novoforma'
    />
    <meta
      name='twitter:title'
      content='Construcción y Reformas en Barcelona | Novoforma'
    />
    <meta
      name='twitter:description'
      content='Novoforma ofrece servicios de construcción y reformas en Barcelona, garantizando calidad y satisfacción en cada proyecto.'
    />
    <meta
      name='twitter:image'
      content='https://www.novoformaserveis.es/social-img.png'
    />
    <meta
      name='twitter:image:alt'
      content='Imagen de Novoforma'
    />

    {
      robots ? (
        <meta
          name='robots'
          content='index, follow'
        />
      ) : (
        <meta
          name='robots'
          content='noindex, nofollow'
        />
      )
    }
    <ViewTransitions />
  </head>
  <body>
    <div class='flex flex-col min-h-screen bg-zinc-50 text-zinc-900 overflow-x-hidden'>
      <header class='px-2 bg-zinc-950 text-zinc-50 fixed top-0 w-full z-50 border-b border-primary-900 shadow-sm'>
        <div class='container mx-auto flex items-center justify-between gap-8 h-16'>
          <a
            class='flex items-center justify-center gap-2'
            href='/'
            title='Novoforma'
          >
            <Image
              src='/logo.png'
              alt='Novoforma'
              width={214}
              height={161}
              class='w-14'
              loading={'eager'}
            />
            <span class='font-semibold text-xl uppercase'
              ><span class='font-black text-primary-600'>Novo</span>forma</span
            >
          </a>
          <div class='hidden items-center justify-center gap-8 flex-1 lg:flex'>
            <div class='flex items-center'>
              <Phone className='mr-2 h-4 w-4 text-primary-400' />
              <span class='prose prose-invert'
                ><a
                  href='tel:667757013'
                  title='+34 667 757 013'
                  class='hover:text-primary-400'
                  >+34 667 757 013</a
                ></span
              >
            </div>
            <div class='flex items-center'>
              <Phone className='mr-2 h-4 w-4 text-primary-400' />
              <span class='prose prose-invert'
                ><a
                  href='tel:696460538'
                  title='+34 696 460 538'
                  class='hover:text-primary-400'
                  >+34 696 460 538</a
                ></span
              >
            </div>
          </div>
          <nav class='ml-auto hidden gap-4 lg:flex'>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#servicios'
            >
              Servicios
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#galeria'
            >
              Galería
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#nosotros'
            >
              Nosotros
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#testimonios'
            >
              Testimonios
            </a>
            <a
              class='text-sm font-medium hover:text-primary-500 transition-colors'
              href='#contacto'
            >
              Contacto
            </a>
          </nav>
          <div class='flex items-center gap-4 lg:flex-row-reverse'>
            <a
              href='#contacto'
              class='bg-primary-600 text-nowrap text-primary-50 font-semibold py-2 px-4 cursor-pointer rounded-sm hover:bg-primary-700 hover:transition-all'
              >Pide Presupuesto</a
            >
          </div>
        </div>
      </header>

      <slot />

      <Whatsaap />

      <section
        id='contacto'
        class='w-full py-12 md:py-24 lg:py-32 bg-black text-zinc-50'
      >
        <div class='container mx-auto px-4 md:px-6'>
          <div class='grid items-center gap-6 lg:grid-cols-2 lg:gap-12'>
            <div class='space-y-4'>
              <h2 class='text-3xl font-bold tracking-tighter sm:text-4xl prose prose-invert'>Contáctanos</h2>
              <p class='max-w-[600px] prose text-zinc-400 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed'>
                ¿Estás listo para llevar tu proyecto al siguiente nivel? <strong class='prose-invert'
                  >Contáctanos</strong
                >
                hoy mismo para una consulta gratuita y obtén un presupuesto adaptado a tus necesidades.
              </p>
              <div class='space-y-2'>
                <div class='flex items-center'>
                  <Phone className='mr-2 h-4 w-4 text-primary-600' />
                  <span class='prose prose-invert'
                    ><a
                      href='tel:667757013'
                      title='+34 667 757 013'
                      class='hover:text-primary-400'
                      >+34 667 757 013</a
                    ></span
                  >
                </div>
                <div class='flex items-center'>
                  <Phone className='mr-2 h-4 w-4 text-primary-600' />
                  <span class='prose prose-invert'
                    ><a
                      href='tel:696460538'
                      title='+34 696 460 538'
                      class='hover:text-primary-400'
                      >+34 696 460 538</a
                    ></span
                  >
                </div>
                <div class='flex items-center'>
                  <Mail className='mr-2 h-4 w-4 text-primary-600' />
                  <a
                    href='mailto:info@novoformaserveis.es'
                    title='info@novoformaserveis.es'
                    class='prose prose-invert'
                    >info@novoformaserveis.es</a
                  >
                </div>
              </div>
            </div>

            <EmailForm client:load />
          </div>
        </div>
      </section>

      <footer class='py-6 w-full px-4 md:px-6 border-t border-zinc-300 bg-zinc-900 text-zinc-50'>
        <div class='container mx-auto flex flex-col gap-2 sm:flex-row shrink-0 items-center'>
          <p class='text-xs text-zinc-400'>© 2024 Novoforma. Todos los derechos reservados.</p>
          <nav class='sm:ml-auto flex gap-4 sm:gap-6'>
            <a
              class='text-xs hover:underline underline-offset-4 text-zinc-400 hover:text-primary-500'
              href='/conditions-use'
            >
              Términos de Servicio
            </a>
            <a
              class='text-xs hover:underline underline-offset-4 text-zinc-400 hover:text-primary-500'
              href='/privacity'
            >
              Privacidad
            </a>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>
